body {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

.send-button {
    background-color: rgb(25, 135, 84);
    color: white;
    border: none;
    padding: 12px 20px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.chat-input {
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    
    flex-grow: 1;
}

.chat-input-container {
    display: flex;
    margin-bottom : 60px;
}

.app-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-message-user {
    display: flex;
    justify-content: end;
    align-items: start;
}

.chat-message-robot {
    display: flex;
    align-items: start;
}

.chat-message-text {
    background-color: rgb(238, 238, 238);
    padding : 4px 16px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 300px
}

.chat-message-profile {
    width : 45px;
}

.chat-messages-container {
    flex-grow: 1;
    margin-top : 20px;
    overflow: scroll;
    scrollbar-width: none;
}

/* Fix markdown code overflow */
.chat-message-text pre {
    white-space: pre-wrap;     /* wrap long lines */
    word-wrap: break-word;     /* break long words */
    overflow-x: auto;          /* horizontal scroll if needed */
    max-width: 100%;
}

.chat-message-text pre {
    background: #494747;
    color: #f8f8f2;
    padding: 12px;
    border-radius: 10px;
    font-family: Consolas, monospace;
    font-size: 14px;
}

/* landing pages styling */

.landing-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.landing-subtitle {
  font-size: 16px;
  color: gray;
}
